body {
  background: #fff;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  height: 400px;
  width: 400px;
}
p{
  color: black;
}
h1{ 
color: black;
}
